body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.row h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    line-height: 1.4;
}

.container-fluid {
    padding: 3% 10% 7%;
}

.navbar {
    background: #dfcacc;
    margin-bottom: 40px;
}

.navbar-brand {
    margin-left: 10px;
}

.search {
    margin-right: 6px;
}

.serhtext {
    padding-left: 15px;
}

.navname {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

.down-btn {
    margin: 5% 3% 5% 0%;
}

.iphone {
    width: 22%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;

}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    padding: 4.5%;
}

.monster {
  
    font-size: 1.5rem;

}

.paragrph {
    color: #8f8f8f;
}

.fa-solid {
    color: #ef8172;
}

.fa-solid:hover {
    color: #ff4c68;
}

/* testimonials  section here*/

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testihead {
    font-family: "Montserrat-bold";
    font-size: 2.5rem;
    line-height: 1.5;
}

.testiimage {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

#pricing {
    padding: 4%;
}

.plandog {
    font-size: 2.7rem;
}

.pricing-colm {
    padding: 3%;
}

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
}

.ctaheading {
    font-size: 60px;
    color: #fff;
    line-height: 1.5;
}


/* footer section */
#footer {
    background-color: #fff;
    padding: 7% 15%;
}

#copyright {
    font-size: 22px;
}

@media (max-width: 994px) {

    #title {
        text-align: center;
    }

    .iphone {
        width: 50%;
        transform: rotate(0);
        position: static;

    }
}

@media (max-width: 672px) {
    .testihead {
        font-size: 25px;
    }

    .ctaheading {
        font-size: 28px;
    }
}